body {
  background-color: black;
}

main {
  display: block;
  
  color: chocolate;
}

label {
  margin-left: 30%;
}

select {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: large;
  background-color: slategray;
  height: 50px;
  width: 150px;
}

img {
  width: 300px;
  height: auto;
}

.title {
  font-size: x-large;
}

header {
  margin: auto;
  width: 80%;
  height: 75px;
  background-color: steelblue;
  text-align: center;
  line-height: 75px;
  font-size: xx-large;
  color: chocolate;
  border: chocolate solid 2px;
}

.images {
  width: 75%;
  margin: auto;
  border: steelblue solid 1px;
  align-content: center;
}
